#fdiv {
  background-color: aqua;
  padding: 2rem;
}

#fpara {
  background-color: green;
  padding: 1rem;
}

#spara {
  padding: 1rem;
  background-color: #FE9A00;
}

#sdiv {
  background-color: yellow;
  padding: 2rem;

}